*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans','sans-serif';
}
html{
    background-color: rgb(255,255,255);
    width: 100%;
}

/*Preloader*/

#loader{
    background: #ffffff url(loader1.gif) no-repeat center center;
    background-size: 10%;
    height: 120vh;
    width: 100%;
    z-index: 100;
    position: fixed;
}

/*Preloader End*/

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#f66517;
    font-size:1rem;
}
a:hover{
    color:white;
}

header{
    position: relative;
    padding: 0 2rem;
    
}
body{
    height: 150vh;
    background-size: cover;
    background-position: center;   
}
body::-webkit-scrollbar{
    width:5px;
}

body::-webkit-scrollbar-track{
    background-color:#ff7f50;
    border-radius:50px;
}

body::-webkit-scrollbar-thumb{
    cursor:pointer;
    background-color:#ffffff;
    border-radius:50px;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap:2rem;
}
.navbar .toggle{
    color:#f66517;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color:white;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color:#cc2222;
}
.action_btn:active{
    scale: 0.95;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 300px;
    background: rgba(233, 100, 24, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:  height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 280px;
}
.dropdown_menu li{
    
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}


/*Start here*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

}

body{
    background-color: #f1e8e8;

}

h1{
    text-align: center;
    color:#ff9419;
    font-size: 35px;
    padding-top: 5%;
}
.container{
    padding: 5% 5%;
    width: 100%;
    height: auto;
    justify-content: center;
   
}

.wrapper{
    padding: 2% 2%;
    justify-content: center;
    height: auto;
    display: flex;
}
.card{
    padding: 3% 3%;
    justify-content: center;
    border:orange solid 3px;
    width: 5%;
    height: 700px;
    border-radius: 50px;
    display: flex;
    margin-left:2%;
    cursor: pointer;
    transition: .6s cubic-bezier(.28, -0.03, 0,.99);
    box-shadow: 0px 10px 15px 2px rgba(233, 100, 24, 0.8);

}

.container .wrapper .card .about{
    display: none;
    padding-top: 30%;
    width: 70%;
    background-size: cover;
    background-position: center;

}
.about h1{
    animation: name 2s steps(40,end) infinite;
    letter-spacing: 3px;
    color:#00ffff;
    overflow: hidden;
    white-space: nowrap;
}
@keyframes name {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.about p{
    padding-top:5% ;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 20px;
    color:#fff;
    font-weight:bold ;
}
.card:hover{
    transition: all 0.7s ease;
    width: 40%;
}
.container .card:hover .about{
    display: block;
}
#n1{
    background: url(suhani.jpg);
    background-size: cover;
    background-position: center;
}
#n2{
    background:url(nishant.jpg);
    background-size: cover;
    background-position: center;
}
#n3{
    background:url(jiya.jpg);
    background-size: cover;
    background-position: center;
}
#n4{
    background:url(shubham.jpg);
    background-size: cover;
    background-position: center;
}
#n5{
    background:url(saurav.jpg);
    background-size: cover;
    background-position: center;
}
#n6{
    background:url(kriti.jpg);
    background-size: cover;
    background-position: center;
}
#n7{
    background:purple;
    background-size: cover;
    background-position: center;
}
.circle{
    background: rgb(255, 167, 4);
    border-radius: 50px;
    font-size: 30px;
    height: 30px;
    color:white;
    text-align: left;
}

@media(max-width:1020px)
{
    .wrapper{
        flex-direction: column;
    }
    .wrapper .card{
        height: 50px;
        width: 100%;
    }
    .wrapper .card:hover{
        height: 600px;
    }
    .about h1{
        animation: none;
    }
}
@media(max-width:545px)
{
    .about h1{
        font-size: 30px;
    }
}



/*Body end here*/


/*Footer Section*/
footer{
    width: 100%;
    position: absolute;
    background: linear-gradient(to right,#ff7f50,#dc143c);
    color:#fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col h2{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.col:nth-child(2){
    flex-basis: 15%;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color:#fff;
}
.newsletterform{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
}
.newsletterform svg{
    font-size: 1px;
    margin-right:10px;
    fill:#fff;
}
.newsletterform input{
    width: 100%;
    background: transparent;
    color:#fff;
    border: 0;
    outline: none;
}
.newsletterform input::placeholder{
    color:#fff;
}
.newsletterform button{
    background:transparent ;
    border:0;
    outline: none;
    cursor: pointer;
}
.newsletterform button svg{
    font-size: 15px;
    color:#fff;
}

.socialicon .fa{
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#000;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;

}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top:25px;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background:#f66517;
    border-radius: 3px;
    position: absolute;
    top:0;
    left: 10px;
    animation: moving 2s infinite;
}
iframe{
    height: 10%;
    width: 100%;
    border-radius:20px;
}

.notice::-webkit-scrollbar{
    width:10px;
}

.notice::-webkit-scrollbar-track{
    background-color:#ff5731;
    border-radius:50px;
}

.notice::-webkit-scrollbar-thumb{
    cursor:pointer;
    background-color:#ccc;
    border-radius:50px;
}
@keyframes moving {
    0%{
        left:-20px;
    }
    100%{
        left: 100%;
    }
    
}

/*Responsive Navigation*/
@media(max-width:992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle{
        display: block;
    }
    .dropdown_menu{
        display: block;

    }
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col :nth-child(2)
    {
        flex-basis: 100%;
    }
    .profile,.external{
        flex-direction: column;
        justify-content: space-between;
    }
    .profile .card{
        column-width: 5%;

    }
    .external .cards a img{
        border-radius: 15px;
        height: 150px;
        width: 100%;
        justify-content: center;
    }
    
}

@media(max-width:576px)
{
    .dropdown_menu{
        left:2rem;
        width:unset;
    }
    .profile,.external{
        flex-direction: column;
        justify-content: space-between;
    }
    .profile .card{
        column-width: 5%;

    }
}


