*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans','sans-serif';
}
html{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

/*Preloader*/
#loader{
    background: #ffffff url(loader1.gif) no-repeat center center;
    background-size: 10%;
    height: 120vh;
    width: 100%;
    z-index: 100;
    position: fixed;
}



li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#f66517;
    font-size:1rem;
}
a:hover{
    color:white;
}

header{
    position: relative;
    padding: 0 2rem;
    
}
body{
    height: 100vh;
    background-image: url('nebula.gif');
    background-size: cover;
    background-position: center;   

}
body::-webkit-scrollbar{
    width:5px;
}

body::-webkit-scrollbar-track{
    background-color:#ff7f50;
    border-radius:50px;
}

body::-webkit-scrollbar-thumb{
    cursor:pointer;
    background-color:#ffffff;
    border-radius:50px;
}


.nebula{
    margin-left: 45%;
    margin-top: -100px;
}


.intro{
    width:100%;
    padding: 10% 5%;
    font-size: 18px;
    color:#ff7f50;
    margin-top: 0px;
}
.notice{
    width:100%;
    padding: 10% 5%;
    font-size: 18px;
    color:#ff7f50;
    margin-top: 0px;
    text-decoration:underline;
    overflow-y: auto;

}
#bottom{
    padding-top:86vh;
    display: flex;
    flex-direction: column;
}

#bottom .patron{
        padding-top:2% ;
    }
.intro:hover,.notice:hover{
    background-color: whitesmoke;
}

.letter{
    padding: 10px;
}
.letter a{
    color:#ff7f50;
}
.letter a:hover{
    color:#000000;
}
.letter a:active{
    color:#ff2b2b;
}
.nhead{
    font-size: 30px;
    align-items: center;
    text-align: center;
    color:#ff4400;
    font-weight: bolder;
    text-decoration:underline;
}

/*Cards View*/
.patron h1{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color:#f66517;
}
.patron hr{
    justify-content: center;
    height: 15px;
    width: 18%;
    color:#ff5731;
    border-radius: 50px;
    background: #f66517;
}
.profile{
    padding: 1% 5%;
    width: 100%;
    height: auto;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
  
}

.profile .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  
}
.profile .card:hover{
    transform: scale(1.05);
}
.profile .card img{
    pointer-events: none;
}
.profile .title {
  color: grey;
  font-size: 18px;
}

.profile .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ff7f50;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  
}

.profile a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.external{
    padding: 1% 5%;
    width: 100%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
}
.external:hover{
    background:whitesmoke;
}

.external .cards a img{
    border-radius: 15px;
    height: 150px;
    width: 300px;
    margin-left: 15px;
}
.external .cards a img:hover{
    transform: scale(1.05);
}
.external .cards{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

/*Footer Section*/
footer{
    bottom: 0;
    width: 100%;
    position: relative;
    background: linear-gradient(to right,#ff7f50,#dc143c);
    color:#fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col h2{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.col:nth-child(2){
    flex-basis: 15%;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color:#fff;
}
.newsletterform{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
}
.newsletterform svg{
    font-size: 1px;
    margin-right:10px;
    fill:#fff;
}
.newsletterform input{
    width: 100%;
    background: transparent;
    color:#fff;
    border: 0;
    outline: none;
}
.newsletterform input::placeholder{
    color:#fff;
}
.newsletterform button{
    background:transparent ;
    border:0;
    outline: none;
    cursor: pointer;
}
.newsletterform button svg{
    font-size: 15px;
    color:#fff;
}

.socialicon .fa{
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#000;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;

}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top:25px;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background:#f66517;
    border-radius: 3px;
    position: absolute;
    top:0;
    left: 10px;
    animation: moving 2s infinite;
}
iframe{
    height: 10%;
    width: 100%;
    border-radius:20px;
}

.notice::-webkit-scrollbar{
    width:10px;
}

.notice::-webkit-scrollbar-track{
    background-color:#ff5731;
    border-radius:50px;
}

.notice::-webkit-scrollbar-thumb{
    cursor:pointer;
    background-color:#ccc;
    border-radius:50px;
}
@keyframes moving {
    0%{
        left:-20px;
    }
    100%{
        left: 100%;
    }
    
}

/*Responsive Navigation*/
@media(min-width:2160px)
{
    #bottom .patron{
        padding-top:5% ;
    }
}
@media(max-width:2160px) and (min-width:1440px)
{
    #bottom .patron{
        padding-top:8% ;
    }
}
@media(max-width:1440px)
{
    #bottom .patron{
        padding-top:8% ;
    }
}



@media(max-width:1023px){

    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col :nth-child(2)
    {
        flex-basis: 100%;
    }
}



@media(max-width:576px)
{
    #bottom .patron{
        padding-top:15% ;
    }

}


